body {
    padding-top: 50px;
}
body>.navbar {
    -webkit-transition: background-color .3s ease-in;
    transition: background-color .3s ease-in;
}
@media (min-width:768px) {
    body>.navbar-transparent {
    background-color: transparent;
}
body>.navbar-transparent .navbar-nav>.open>a {
    background-color: transparent!important;
}
input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 0 20px 0 0;
    box-sizing: border-box;
}
form, .form-group, form div, form label, form input, form button {
    text-align: left;
}
.email-title {
    color: #FFF;
}
}#home {
    padding-top: 0;
}
#home .navbar-brand {
    padding: 13.5px 15px 12.5px;
}
#home .navbar-brand>img {
    display: inline;
    margin: 0 10px;
    height: 100%}
#banner {
    min-height: 300px;
    border-bottom: none;
}
.nav > li > form {
    padding: 15px;
}
.navbar-default .navbar-nav > li > .external-link {
    color: #661fa5;
}
.table-of-contents {
    margin-top: 1em;
}
.page-header h1 {
    font-size: 4em;
}
.bs-docs-section {
    margin-top: 6em;
}
.bs-docs-section h1 {
    padding-top: 100px;
}
.bs-component {
    position: relative;
}
.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
}
.bs-component .modal-dialog {
    width: 90%}
.bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
}
#source-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    font-weight: 700;
}
.nav-tabs {
    margin-bottom: 15px;
}
.progress {
    margin-bottom: 10px;
}
.description-content h1, .description-content h2, .description-content h3, .description-content h4, .description-content h5, .description-content .fa {
    color: #7726BF;
}
.description-content p {
    min-height: 90px;
}
footer {
    margin: 5em 0;
}
footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}
footer p {
    clear: left;
    margin-bottom: 0;
}
.goal {
    color: #fff;
}
.carousel .row {
    margin: 3em;
}
.splash {
    padding: 5em 0 5em;
    background-image: url(../img/bg.jpg);
    background-color: #5b3c89;
    background-size: cover;
    background-attachment: fixed;
    background-position:center center;
    color: #fff;
}
.splash h1 {
    font-size: 45px;
    color: #ffedd4;
}
.splash h2 {
    font-size: 20px;
}
.splash .splash-form {
  text-align: left;
}
.splash .logo {
    width: 160px;
}
.splash #social {
    margin: 2em 0;
}
.splash .alert {
    margin: 2em 0;
}
.section {
    padding: 2em 0 2em;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}
.section .fa {
    margin-right: .5em;
}
.section-title h1, .section-title h2, .section-title h3, .section-title h4, .section-title h5 {
    margin: 0;
}
.section-information {
  background-color: #c03434;
  color: #F5F5F5;
  padding: 0;
}
.section-information h1, .section-information h2, .section-information h3, .section-information h4, .section-information h5 {
  color: #F5F5F5;
}
.section-ideas {
  background-color: #FCFCFC;
  background-size: cover;
  color: #BF3838;
}
.section-ideas h1, .section-ideas h2, .section-ideas h3, .section-ideas h4, .section-ideas h5 {
  color: #BF3838;
}
.section-project {
  background-size: cover;
}
.section-contribution {
  background-image: url(../img/bg_contribution.jpg);
  background-size: cover;
  color: #6B4A9C;
}
.section-contribution h1, .section-contribution h2, .section-contribution h3, .section-contribution h4, .section-contribution h5 {
  color: #6B4A9C;
}
.section-donation {
  background-color: #5f3998;
  background-size: cover;
  color: #F5F5F5;
}
.section-donation h1, .section-donation h2, .section-donation h3, .section-donation h4, .section-donation h5 {
  color: #F5F5F5;
}
.section-love {
  background-color: #fcfcfc;
  background-size: cover;
  background-position:center center;
  color: #6B4A9C;
}
.section-love h1, .section-love h2, .section-love h3, .section-love h4, .section-love h5 {
  color: #6B4A9C;
}
.section-preview {
    padding: 4em 0 4em;
}
.section-preview .preview {
    margin-bottom: 4em;
    background-color: #eaf1f1;
}
.section-preview .preview .image {
    position: relative;
}
.section-preview .preview .image:before {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    pointer-events: none;
}
.section-preview .preview .options {
    padding: 1em 2em 2em;
    border: 1px solid rgba(0, 0, 0, .05);
    border-top: none;
    text-align: center;
}
.section-preview .preview .options p {
    margin-bottom: 2em;
}
.section-preview .dropdown-menu {
    text-align: left;
}
.section-preview .lead {
    margin-bottom: 2em;
}
.subhead {
    border-bottom: 1px solid #dedede;
}
@media (max-width:767px) {
    .section-preview .image img {
    width: 100%}
}
.sponsor #carbonads {
    max-width: 240px;
    margin: 0 auto;
}
.sponsor .carbon-text {
    display: block;
    margin-top: 1em;
    font-size: 12px;
}
.sponsor .carbon-poweredby {
    float: right;
    margin-top: 1em;
    font-size: 10px;
}
@media (max-width:767px) {
    .splash {
    padding-top: 4em;
}
.splash .logo {
    width: 100px;
}
.splash h1 {
    font-size: 2em;
}
.panel-title h1, .panel-title h2, .panel-title h3, .panel-title h4, .panel-title h5 {
    text-align: left;
}
#banner {
    margin-bottom: 2em;
    text-align: center;
}
}
.col-content-center {
    text-align: center;
}
